{{define "form/trojan"}}
<a-form layout="inline">
    <a-form layout="inline">
        <a-form-item label='添加用户'>
            <a-row>
                <a-button type="primary" size="small" @click="inbound.settings.addTrojan()">
                    +
                </a-button>
            </a-row>
        </a-form-item>

        <a-form v-for="(clients, index) in inbound.settings.clients" layout="inline">
            <a-divider>
                User[[ index + 1 ]]|[[isClientEnable(inbound.settings.clients[index].email)]]
                <a-icon type="delete" @click="() => inbound.settings.delTrojan(index)"
                    style="color: rgb(255, 77, 79);cursor: pointer;" />
            </a-divider>
            <a-form-item label="passwd">
                <a-input style="width: 80%" v-model.trim="inbound.settings.clients[index].password"></a-input>
            </a-form-item>
            <a-form-item label="email">
                <a-input style="width: 80%" v-model.trim="inbound.settings.clients[index].email"></a-input>
            </a-form-item>
            <a-form-item v-if="inbound.xtls" label="flow">
                <a-select v-model="inbound.settings.clients[index].flow" style="width: 150px">
                    <a-select-option value="" selected>none</a-select-option>
                    <a-select-option v-for="key in XTLS_FLOW_CONTROL" :value="key">[[ key
                        ]]</a-select-option>
                </a-select>
            </a-form-item>
            <!-- <a-form-item>
                <span slot="label">
                    到期时间
                    <a-tooltip>
                        <template slot="title">
                            留空则永不到期
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>
                <a-date-picker :show-time="{ format: 'HH:mm' }" format="YYYY-MM-DD HH:mm"
                    v-model="inbound.settings.clients[index]._expiryTime" style="width: 300px;"></a-date-picker>
            </a-form-item> -->
            <!-- <a-form-item>
                <span slot="label">
                    流量限制
                    <a-tooltip>
                        <template slot="title">
                            0 表示不限制
                        </template>
                        <a-icon type="question-circle" theme="filled"></a-icon>
                    </a-tooltip>
                </span>
                <a-input-number v-model="inbound.settings.clients[index].totalTraffic" :min="0"></a-input-number>
            </a-form-item> -->
            <!-- <a-form-item label="流量详情">
                <a-tag color="blue">↑[[
                    sizeFormat(getClientTrafficUp(inbound.settings.clients[index].email)) ]] | [[
                    sizeFormat(getClientTrafficDown(inbound.settings.clients[index].email))
                    ]]↓</a-tag>
                <a-tag color="red">used : [[
                    sizeFormat(getClientTrafficUp(inbound.settings.clients[index].email) +
                    getClientTrafficDown(inbound.settings.clients[index].email))
                    ]]</a-tag>
            </a-form-item> -->
            <a-divider v-if="inbound.settings.clients.length - 1 === index" />
        </a-form>
    </a-form>
</a-form>

<a-form layout="inline">
    <a-form-item label="fallbacks">
        <a-row>
            <a-button type="primary" size="small" @click="inbound.settings.addTrojanFallback()">
                +
            </a-button>
        </a-row>
    </a-form-item>
</a-form>

<!-- trojan fallbacks -->
<a-form v-for="(fallback, index) in inbound.settings.fallbacks" layout="inline">
    <a-divider>
        fallback[[ index + 1 ]]
        <a-icon type="delete" @click="() => inbound.settings.delTrojanFallback(index)"
            style="color: rgb(255, 77, 79);cursor: pointer;" />
    </a-divider>
    <a-form-item label="name">
        <a-input v-model="fallback.name"></a-input>
    </a-form-item>
    <a-form-item label="alpn">
        <a-input v-model="fallback.alpn"></a-input>
    </a-form-item>
    <a-form-item label="path">
        <a-input v-model="fallback.path"></a-input>
    </a-form-item>
    <a-form-item label="dest">
        <a-input v-model="fallback.dest"></a-input>
    </a-form-item>
    <a-form-item label="xver">
        <a-input type="number" v-model.number="fallback.xver"></a-input>
    </a-form-item>
    <a-divider v-if="inbound.settings.fallbacks.length - 1 === index" />
</a-form>
{{end}}